@import "tailwindcss";

@source "../../xml/**";
/* @source "../xml/001_Auth/**"; */
@source "../../../src/**/**";


@custom-variant dark (&:where(.dark, .dark *));

textarea {
  field-sizing: content; /* used to be `form-sizing` but changed to this */
}


* {
  @apply [&::-webkit-scrollbar]:w-2.5 [&::-webkit-scrollbar-track]:bg-gray-500 [&::-webkit-scrollbar-thumb]:bg-gray-800 [&::-webkit-scrollbar-thumb]:rounded-full;
}

.bg-squares {
  width: 100%;
  height: 100%;
  --color: rgba(114, 114, 114, 0.3);
  background-color: #191a1a;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
}

@theme {
    /* Fonts */
    --font-title: 'Poppins', sans-serif;
    --font-body: 'Inter', sans-serif;
    --font-paragraph: 'Inter', sans-serif;

   /* Light Themes */
    --color-body: var(--color-white);
    --color-on-body: var(--color-gray-700); 
    --color-surface: var(--color-white);
    --color-surface-alt: var(--color-neutral-100);

    --color-on-surface: var(--color-gray-700);
    --color-on-surface-strong: var(--color-black);
    
    --color-primary: var(--color-indigo-600);
    --color-on-primary: var(--color-white);
    
    --color-secondary: var(--color-neutral-700);
    --color-on-secondary: var(--color-white);

    --color-outline: var(--color-black);
    --color-outline-strong: var(--color-black);

    --color-info: var(--color-sky-300);
    --color-on-info: var(--color-black);
    
    --color-success: var(--color-green-300);
    --color-on-success: var(--color-black);
    
    --color-warning: var(--color-yellow-200);
    --color-on-warning: var(--color-black);
    
    --color-danger: var(--color-red-300);
    --color-on-danger: var(--color-black);
}


@variant dark {
    --color-body: var(--color-gray-950);
    --color-on-body: var(--color-gray-300); 

    --color-surface: var(--color-gray-900);
    --color-surface-alt: var(--color-neutral-900);
    
    --color-on-surface: var(--color-gray-300);
    --color-on-surface-strong: var(--color-white);
    
    --color-primary: var(--color-indigo-500);
    --color-on-primary: var(--color-white);
    
    --color-secondary: var(--color-neutral-300);
    --color-on-secondary: var(--color-black);
    
    --color-outline: var(--color-white);
    --color-outline-strong: var(--color-white);
}


